<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head')%>
  </head>
  <body>
    <%- include('../partials/preload') %>
    <%- include('../partials/about/cover') %>
    <%- include('../partials/about/about') %>
    <%- include('../partials/footer')%>
    <%- include('../partials/script')%>
  </body>
</html>
