<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head')%>
  </head>
  <body>
    <%- include('../partials/preload') %>
    <%- include('../partials/banner') %>
    <%- include('../partials/feactures') %>
    <%- include('../partials/bestSubjects')%>
    <%- include('../partials/courses')%>
    <%- include('../partials/memberShip')%>
    <%- include('../partials/instructors')%>
    <%- include('../partials/blogHome')%>
    <%- include('../partials/sponsor')%>
    <%- include('../partials/footer')%>
    <%- include('../partials/script')%>
  </body>
</html>
