<div class="wrapper">
  <div class="sa4d25">
    <div class="container-fluid">
      <!-- HEAD -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="st_title"><i class="uil uil-book-alt"></i>Courses</h2>
        </div>
        <div class="col-md-12">
          <div class="card_dash1">
            <div class="card_dash_left1">
              <i class="uil uil-book-alt"></i>
              <h1>Jump Into Course Creation</h1>
            </div>
            <div class="card_dash_right1">
              <button
                class="create_btn_dash"
                onclick="window.location.href = 'create';"
              >
                Create Your Course
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- DATA TABLE-->
      <div class="row">
        <div class="col-md-12">
          <div class="my_courses_tabs">
            <!-- TABLE HEADER -->
            <ul class="nav nav-pills my_crse_nav" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="pills-my-courses-tab"
                  data-toggle="pill"
                  href="#pills-my-courses"
                  role="tab"
                  aria-controls="pills-my-courses"
                  aria-selected="true"
                  ><i class="uil uil-book-alt"></i>Mes cours</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="pills-my-purchases-tab"
                  data-toggle="pill"
                  href="#pills-my-purchases"
                  role="tab"
                  aria-controls="pills-my-purchases"
                  aria-selected="false"
                  ><i class="uil uil-download-alt"></i>Cours validés</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="pills-upcoming-courses-tab"
                  data-toggle="pill"
                  href="#pills-upcoming-courses"
                  role="tab"
                  aria-controls="pills-upcoming-courses"
                  aria-selected="false"
                  ><i class="uil uil-upload-alt"></i>Cours en attente</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="pills-discount-tab"
                  data-toggle="pill"
                  href="#pills-discount"
                  role="tab"
                  aria-controls="pills-discount"
                  aria-selected="false"
                  ><i class="uil uil-tag-alt"></i>Drafts</a
                >
              </li>
            </ul>

            <!-- TAB CONTENT -->

            <div class="tab-content" id="pills-tabContent">
              <!-- CONTENT COURS-->
              <div
                class="tab-pane fade show active"
                id="pills-my-courses"
                role="tabpanel"
              >
                <div class="table-responsive mt-30">
                  <table class="table ucp-table">
                    <!-- CONTENT HEAD TABLE-->
                    <thead class="thead-s">
                      <tr>
                        <th class="text-center" scope="col">#</th>
                        <th>Titre</th>
                        <th class="text-center" scope="col">Date de publication</th>
                        <th class="text-center" scope="col">Leçons</th>
                        <th class="text-center" scope="col">Catégorie</th>
                        <th class="text-center" scope="col">Statut</th>
                        <th class="text-center" scope="col">Action</th>
                      </tr>
                    </thead>
                    <!-- CONTENT BODY TABLE-->
                    <tbody>
                      <% Array(10).fill(0).forEach((element, index) => { %>
                        <tr>
                          <td class="text-center"><%= index + 1 %></td>
                          <td>Course Title Here</td>
                          <td class="text-center">Le <%= Math.floor(Math.random() * 30 + 1) %> mars 2021</td>
                          <td class="text-center"><%= Math.floor(Math.random() * 20) %></td>
                          <td class="text-center">Web Development</td>
                          <td class="text-center">
                            <b class="course_active">Active</b>
                          </td>
                          <td class="text-center">
                            <a href="/backoffice/edit" title="Edit" class="gray-s"
                              ><i class="uil uil-edit-alt"></i
                            ></a>
                            <a href="/backoffice/delete" title="Delete" class="gray-s"
                              ><i class="uil uil-trash-alt"></i
                            ></a>
                          </td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- CONTENT VALIDATE COURS-->
              <div
                class="tab-pane fade"
                id="pills-my-purchases"
                role="tabpanel"
              >
                <div class="table-responsive mt-30">
                  <table class="table ucp-table">
                    <!-- CONTENT HEAD TABLE-->
                    <thead class="thead-s">
                      <tr>
                        <th class="text-center" scope="col">#</th>
                        <th>Titre</th>
                        <th class="text-center" scope="col">Date de publication</th>
                        <th class="text-center" scope="col">Leçons</th>
                        <th class="text-center" scope="col">Catégorie</th>
                        <th class="text-center" scope="col">Statut</th>
                        <th class="text-center" scope="col">Action</th>
                      </tr>
                    </thead>
                    <!-- CONTENT BODY TABLE-->
                    <tbody>
                      <% Array(10).fill(0).forEach((element, index) => { %>
                        <tr>
                          <td class="text-center"><%= index + 1 %></td>
                          <td>Course Title Here</td>
                          <td class="text-center">Le <%= Math.floor(Math.random() * 30 + 1) %> mars 2021</td>
                          <td class="text-center"><%= Math.floor(Math.random() * 20) %></td>
                          <td class="text-center">Web Development</td>
                          <td class="text-center">
                            <b class="course_active">Active</b>
                          </td>
                          <td class="text-center">
                            <a href="/backoffice/edit" title="Edit" class="gray-s"
                              ><i class="uil uil-edit-alt"></i
                            ></a>
                            <a href="/backoffice/delete" title="Delete" class="gray-s"
                              ><i class="uil uil-trash-alt"></i
                            ></a>
                          </td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- CONTENT PENDING COURS-->
              <div
                class="tab-pane fade"
                id="pills-upcoming-courses"
                role="tabpanel"
              >
                <div class="table-responsive mt-30">
                  <table class="table ucp-table">
                    <!-- CONTENT HEAD TABLE-->
                    <thead class="thead-s">
                      <tr>
                        <th class="text-center" scope="col">#</th>
                        <th>Titre</th>
                        <th class="text-center" scope="col">Date de publication</th>
                        <th class="text-center" scope="col">Leçons</th>
                        <th class="text-center" scope="col">Catégorie</th>
                        <th class="text-center" scope="col">Statut</th>
                        <th class="text-center" scope="col">Action</th>
                      </tr>
                    </thead>
                    <!-- CONTENT BODY TABLE-->
                    <tbody>
                      <% Array(10).fill(0).forEach((element, index) => { %>
                        <tr>
                          <td class="text-center"><%= index + 1 %></td>
                          <td>Course Title Here</td>
                          <td class="text-center">Le <%= Math.floor(Math.random() * 30 + 1) %> mars 2021</td>
                          <td class="text-center"><%= Math.floor(Math.random() * 20) %></td>
                          <td class="text-center">Web Development</td>
                          <td class="text-center">
                            <b class="course_active">Active</b>
                          </td>
                          <td class="text-center">
                            <a href="/backoffice/edit" title="Edit" class="gray-s"
                              ><i class="uil uil-edit-alt"></i
                            ></a>
                            <a href="/backoffice/delete" title="Delete" class="gray-s"
                              ><i class="uil uil-trash-alt"></i
                            ></a>
                          </td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- CONTENT DRAFT-->
              <div class="tab-pane fade" id="pills-discount" role="tabpanel">
                <div
                  class="panel-group"
                  id="accordion"
                  role="tablist"
                  aria-multiselectable="true"
                >
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <div class="panel-title adcrse1250">
                        <a
                          class="collapsed"
                          data-toggle="collapse"
                          data-parent="#accordion"
                          href="#collapseOne"
                          aria-expanded="false"
                          aria-controls="collapseOne"
                        >
                          New Discount
                        </a>
                      </div>
                    </div>
                    <div
                      id="collapseOne"
                      class="panel-collapse collapse"
                      role="tabpanel"
                      aria-labelledby="headingOne"
                    >
                      <div class="panel-body adcrse_body">
                        <div class="row">
                          <div class="col-lg-8">
                            <div class="discount_form">
                              <div class="row">
                                <div class="col-lg-6 col-md-6">
                                  <div class="mt-20 lbel25">
                                    <label>Course*</label>
                                  </div>
                                  <select
                                    class="ui hj145 dropdown cntry152 prompt srch_explore"
                                  >
                                    <option value="">Select Course</option>
                                    <option value="1">Course Title Here</option>
                                    <option value="2">Course Title Here</option>
                                    <option value="3">Course Title Here</option>
                                    <option value="4">Course Title Here</option>
                                    <option value="5">Course Title Here</option>
                                    <option value="6">Course Title Here</option>
                                    <option value="7">Course Title Here</option>
                                  </select>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                  <div class="ui search focus mt-20 lbel25">
                                    <label>Discount Amount</label>
                                    <div class="ui left icon input swdh19">
                                      <input
                                        class="prompt srch_explore"
                                        type="number"
                                        name="off"
                                        value=""
                                        required=""
                                        min="1"
                                        max="99"
                                        placeholder="Percent (eg. 20 for 20%)"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                  <div class="ui search focus mt-20 lbel25">
                                    <label>Start Date</label>
                                    <div class="ui left icon input swdh19">
                                      <input
                                        class="prompt srch_explore datepicker-here"
                                        type="text"
                                        data-language="en"
                                        placeholder="dd/mm/yyyy"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                  <div class="ui search focus mt-20 lbel25">
                                    <label>End Date</label>
                                    <div class="ui left icon input swdh19">
                                      <input
                                        class="prompt srch_explore datepicker-here"
                                        type="text"
                                        data-language="en"
                                        placeholder="dd/mm/yyyy"
                                      />
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                  <button class="discount_btn" type="submit">
                                    Save Changes
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-responsive mt-30">
                  <table class="table ucp-table">
                    <thead class="thead-s">
                      <tr>
                        <th class="text-center" scope="col">Item No.</th>
                        <th class="cell-ta">Course</th>
                        <th class="text-center" scope="col">Start Date</th>
                        <th class="text-center" scope="col">End Date</th>
                        <th class="text-center" scope="col">Discount</th>
                        <th class="text-center" scope="col">Status</th>
                        <th class="text-center" scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">01</td>
                        <td class="cell-ta">Course Title Here</td>
                        <td class="text-center">02 November 2019</td>
                        <td class="text-center">19 November 2019</td>
                        <td class="text-center">20%</td>
                        <td class="text-center">
                          <b class="course_active">Active</b>
                        </td>
                        <td class="text-center">
                          <a href="#" title="Edit" class="gray-s"
                            ><i class="uil uil-edit-alt"></i
                          ></a>
                          <a href="#" title="Delete" class="gray-s"
                            ><i class="uil uil-trash-alt"></i
                          ></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
