<nav class="vertical_nav">
  <div class="left_section menu_left" id="js-menu">
    <div class="left_section">
      <ul>
        <li class="menu--item">
          <a
            href="/backoffice"
            class="menu--link <%= name === "Dashboard" ? "active" : "" %>"
            title="Dashboard"
          >
            <i class="uil uil-apps menu--icon"></i>
            <span class="menu--label">Dashboard</span>
          </a>
        </li>
        <li class="menu--item">
          <a href="/backoffice/cours" class="menu--link <%= name === "Cours" ? "active" : "" %>" title="Cours">
            <i class="uil uil-book-alt menu--icon"></i>
            <span class="menu--label">Mes cours</span>
          </a>
        </li>
        <li class="menu--item">
          <a
            href="/backoffice/profile"
            class="menu--link <%= name === "Profile" ? "active" : "" %>"
            title="Profile"
          >
            <i class="uil uil-user menu--icon"></i>
            <span class="menu--label">Profile</span>
          </a>
        </li>
        <li class="menu--item">
          <a
            href="/backoffice/create"
            class="menu--link <%= name === "Create" ? "active" : "" %> "
            title="Create Course"
          >
            <i class="uil uil-plus-circle menu--icon"></i>
            <span class="menu--label">Create Course</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="left_section pt-2">
      <ul>
        <li class="menu--item">
          <a href="/backoffice/setting" class="menu--link <%= name === "Setting" ? "active" : "" %>" title="Setting">
            <i class="uil uil-cog menu--icon"></i>
            <span class="menu--label">Setting</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
