<div class=".edu_nav2">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light bg-faded">
      <a class="navbar-brand" href="/"
        ><img src="/assets/images/logo-sst8.png" alt="logo"
      /></a>
      <div
        class="collapse navbar-collapse main-menu"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav nav lavalamp ml-auto menu">
          <li class="nav-item">
            <a href="/" class="nav-link <%= (name==='') ? 'active': '' %>"
              >Accueil</a
            >
          </li>
          <li class="nav-item">
            <a
              href="/about"
              class="nav-link <%= (name==='about') ? 'active': '' %>"
              >Qui sommes-nous
            </a>
            <ul class="navbar-nav nav mx-auto">
              <li class="nav-item">
                <a href="/about" class="nav-link">À propos de nous </a>
              </li>
              <li class="nav-item">
                <a href="/instructeurs" class="nav-link">Nos instucteurs</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              href="/cours"
              class="nav-link <%= (name==='cours') ? 'active': '' %>"
              >Cours</a
            >
          </li>
          <li class="nav-item">
            <a
              href="/blog"
              class="nav-link <%= (name==='blog') ? 'active': '' %>"
              >Blog</a
            >
          </li>
          <li class="nav-item">
            <a
              href="/contact"
              class="nav-link <%= (name==='contact') ? 'active': '' %>"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div class="mr-auto search_area">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <span><i class="search_btn flaticon-magnifier"></i></span>
            <div id="search">
              <button type="button" class="close">×</button>
              <form method="GET" action="/search">
                <input type="search" value="" name="search" required />
              </form>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- END NAVBAR -->
  </div>
</div>
