<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head')%>
  </head>
  <body>
    <%- include('../partials/topBar') %>
    <%- include('../partials/navBar') %>
    <%- include('../partials/setting') %>
    <%- include('../partials/footer') %>
    <%- include('../partials/script') %>
  </body>
</html>

